doctype html
html
  head
    title Login Failed
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/Stylesheets/loginstyle.css')
  body
  .container
      .card.card-container
        p#profile-name.profile-name-card
          p.text-center
            | Username and Password do not match.
        a.btn.btn-primary(href='login', role='button') Try Again
